@media only screen and (min-width: 768px) and (max-width:  991px){
    /*******  navbar *******/
    #top-nav {
        height: auto !important;
        flex-direction: column;
        position: relative;
    }
    #top-nav>#top-nav-brand {
        margin-right: unset !important;
        margin-left: unset !important;
    }
    #top-nav>#top-nav-brand a {
        padding: 10px 0 ;
        margin: 0 auto;
        width: fit-content;
    }
    #top-nav>#top-nav-services-menu{
        position: absolute;
        right: 0;
        height: 75px;
    }
    #top-nav>#top-nav-services-menu li a {
        box-sizing: border-box;
        padding: 8px 0;
    }
    /*******  navbar *******/

    /******* start header parallax *******/
    #header-slider-desc {
        margin: 30px 0px !important ;
    }
    #header-slider-desc>h2 {
        font-size: 40px !important;
    }
    #header-slider-desc>p {
        font-size: 19px !important;

    }
    #slider-image-container {
        text-align: center;
    }
    #slider-image-container img {
        width: 85%;
    }
    /******* end header parallax *******/
    /******* two column introduction start *******/
    #two-column-introduction {
        flex-direction: column;
        flex-wrap: nowrap !important;

    }
    #two-column-introduction section.column {
        width: 100% !important;
    }
    /*
    #two-column-introduction section.column:nth-child(3) h2 {
        font-size: 35px !important;
        margin-bottom: 44px !important;
    }*/

    /******* two column introduction end *******/
    /******* FOOTER START *******/
    footer .container {
        width:90% !important;
    }
    footer .footer-link-container {
        flex-wrap: wrap;
        justify-content:unset !important;
    }
    footer .footer-link-container>li {
        text-align: center;
        margin-inline: auto;
        margin-bottom: 25px ;
    }
    #end-of-story {
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: unset !important;
    }
    #end-of-story .copy-right {
        margin-right: 5% !important;
    }
    #end-of-story ul {
        margin: 15px 0;
        order: 1;
    }
    /******* FOOTER end *******/
}