@media only screen and (min-width: 0) and (max-width: 472px) {
    /******* navbar*******/
    #top-nav {
        height: auto !important;
        flex-direction: column;
    }
    #top-nav>#top-nav-brand {
        margin-right: unset !important;
        margin-left: unset !important;
        padding: 10px 0 0 15px;

    }
    #top-nav>#top-nav-brand a {
        width: fit-content;
    }
    #top-nav-brand i {
        font-size: 40px !important;
    }
    #top-nav-brand h1 {
        font-size: 27px;
        transform: translateY(3px);
    }

    #top-nav>ul#top-nav-menu-items>li {
        margin-right: 10px !important;
    }
    #top-nav>ul#top-nav-menu-items>li>a {
        padding: 13px 10px !important;
    }
    #top-nav>ul#top-nav-menu-items>li>a>i {
        font-size: 25px !important;
    }
    #top-nav>#top-nav-services-menu{
        position: absolute;
        right: 0;
        height: 60px;

    }
    #top-nav>#top-nav-services-menu li a {
        box-sizing: border-box;
        padding: 12px 0;
    }
    #top-nav>#top-nav-services-menu li a img {
        width: 42px;
        height: 42px;
    }
    /******* end navbar *******/
    /******* start header parallax *******/
    #header-slider-desc {
        margin: 25px 0px !important ;
    }
    #header-slider-desc>h2 {
        font-size: 20px !important;
        margin: 5px 0 ;
        line-height: 1.5;
    }
    #header-slider-desc>p {
        font-size: 12px !important;
        line-height: 1.5 !important ;
    }
    #slider-image-container {
        text-align: center;
    }
    #slider-image-container img {
        width: 80%;
    }
    /******* end header parallax *******/
    /******* product-introduction-1 start *******/
    #product-introduction1>h3 {
        font-size: 45px !important;
    }

    #product-introduction1>h4 {
        font-size: medium !important;
        text-align: center;
    }
    #product-introduction1>h5 {
        font-size: small !important;
        margin: 10px 0;
    }
    #product-introduction1>.link-container h6 a {
        font-size: small;
    }
    #product-introduction1>.link-container>h6:first-child::after {
        font-size: small;
    }
    /******* product-introduction-1 end *******/
    /******* appleTv-introduction start *******/
    #apple-tv-introduction > :first-child > h2 {
        font-size: 35px !important;
    }
    #apple-tv-introduction > :first-child > i {
        font-size: 100px !important;
    }

    #apple-tv-introduction>:nth-child(2) img {
        width: 100px !important;
        height: 300px;
    }
    /******* appleTv-introduction end *******/
        /******* two column introduction start *******/
        #two-column-introduction {
            flex-direction: column;
            flex-wrap: nowrap !important;
        }
        #two-column-introduction section.column {
            width: 100% !important;
        }
        #two-column-introduction section.column:nth-child(2) {
            padding-top: 15px;
        }
        #two-column-introduction section.column:nth-child(2) h2 {
            font-size: 30px !important;
        }
        #two-column-introduction section.column:nth-child(2) h3 {
            font-size: 17px !important;
            text-align: center;
        }
        #two-column-introduction section.column:nth-child(2) h4 {
            font-size: 15px !important;
        }
        #two-column-introduction section.column:nth-child(3) {
            padding-top: 40px !important ;
        }
        #two-column-introduction section.column:nth-child(3) h2 {
            font-size: 30px !important;
         }
        /* #two-column-introduction section.column h2 {
            font-size: 20px !important;
        }
        #two-column-introduction section.column h3 {
            font-size: 18px !important;
        }
        #two-column-introduction section.column h4 {
            font-size: 17px !important;
        }
        #two-column-introduction section.column h5 {
            font-size: 16px !important;
        }
        #two-column-introduction section.column .link-container {
            display: flex;
        }
        #two-column-introduction section.column .link-container::after {
            display: none;
        }
        #two-column-introduction section.column .link-container>*::after {
            display: none;
        }
        #two-column-introduction section.column .link-container ,
        #two-column-introduction section.column .segregated-link-container {
            width: 100% !important;
            flex-direction: column;
            justify-content: unset;
            align-items: center;
        }
        #two-column-introduction section.column .link-container a ,
        #two-column-introduction section.column .segregated-link-container a {
            font-size: 16px !important;
        }
        #two-column-introduction section.column>* {
            margin-bottom: 18px !important;
        }
        #two-column-introduction section.column:nth-child(1)>h4{
            font-size: 14px !important;
        }
        #two-column-introduction section.column:nth-child(2)>* {
            margin-bottom: 8px !important;
        }
        #two-column-introduction section.column:nth-child(2)>h2 , 
        #two-column-introduction section.column:nth-child(2)>h3 , 
        #two-column-introduction section.column:nth-child(2)>h4
        {
            font-size: 15px !important;
            text-align: center;
        }
        #two-column-introduction section.column:nth-child(2) .link-container a ,
        #two-column-introduction section.column:nth-child(2) .segregated-link-container a {
            font-size: 14px !important;
        }
        #two-column-introduction section.column:nth-child(3) h2 {
            font-size: 30px !important;
            margin-bottom: 20px !important;
            margin-top: 20px !important;
            line-height: 1.5;
         }
         #two-column-introduction section.column:nth-child(3) .buy-button .button-icon-container i {
            font-size: 16px !important;
         }
         #two-column-introduction section.column:nth-child(3) .buy-button.icon-button {
            padding: 8px 4px !important;
         }
         #two-column-introduction section.column:nth-child(3) .buy-button.icon-button .button-icon-container {
            margin-right: unset !important;
         }
         #two-column-introduction section.column:nth-child(3) .buy-button.icon-button .button-text-container {
            margin-left: 5px !important;
         }
         #two-column-introduction section.column:nth-child(3) .buy-button.icon-button::after {
            width: 28px !important;
         } */
        /******* two column introduction end *******/
        /******* FOOTER START *******/
        footer .container {
            width:100% !important;
            padding-inline: 15px ;
            box-sizing: border-box;
        }
        footer .container .sentence-container .sentence {
            font-size: 14px;
        }
        footer .container {
            width:98% !important;
        }
        footer .footer-link-container {
            flex-wrap: wrap;
            justify-content:unset !important;
        }
        footer .footer-link-container>li {
            width: 45%;
            margin-inline: auto;
            margin-bottom: 25px ;
            text-align: center;
        }
        footer .footer-link-container>li ul li {
            line-height: 1.5;
        }
        footer .container .footer-link-container + p {
            text-align: center !important;
        }
        #end-of-story {
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: unset !important;

        }
        #end-of-story .copy-right {
            margin-right: 5% !important;
        }
        #end-of-story ul {
            margin: 15px 0;
            order: 1;
        }
        #end-of-story {
            flex-direction: column;
        }
        #end-of-story>*{
            margin-bottom: 15px !important ;
        }
        #end-of-story .copy-right {
            text-align: center ;
            line-height: 1.8;
        }
        #end-of-story ul {
            flex-wrap: wrap;
            order: 1;
            line-height: 2;
        }
    /******* FOOTER end *******/
}